NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb+srv://Laxmankale:Laxman@07@cluster.mongodb.net/lk_portfolio
JWT_SECRET=JluPruFVayc14nTqghyl18Tn8TOJZ0EIiyfyDS6jzA+ZNWUQAngGIGHxZfEDaWZj5auaNXz2/K5b6bBZuKW6+g==
JWT_EXPIRES_IN=7d
ADMIN_USERNAME=Laxmankale
ADMIN_PASSWORD=Samarth@07
ADMIN_SECRET_CODE=050707
FRONTEND_URL=https://laxmankale.netlify.app,http://localhost:5173
MAX_FILE_SIZE_MB=5
